
/*--------------------generales------------------------------*/

body {

    font-family: sans-serif;
    font-size:100%;
    transition: all .4s;
    margin:0px;

}

h1 {
    color:#333;
    font-size:180%;

}

a{
    text-decoration: none;
    color: black;
}


/*_____________________________pie de pagina_____________________________________________-*/
footer{
    color: #000;
    height: 73px;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #cdcd;
    background-color: #f1f2f3;

}

footer img{
    margin-left: 70px;
}

footer td{
    color: #000;
    font-size: 10px;
}
/*-------------------------contenido---------------------------*/

#rodar{

    transition: all .4s;
    margin-right: 80px;
    margin-left: 150px;
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #cdcd;
    width: 1000px;
    height: 400px;
    overflow:auto;
    background: #f1f2f3;

}
.tipo{
    margin-right: 100px;
}
.buscar{

    margin-left: 700px;
    padding: 30px;
    height: 15px;
}

.buscar input{
    height: 40px;
    width: 250px;
    border-radius: 5px;

}
.tipo table td{
    padding: 5px;
    border: 1px solid #cdcd;
    box-shadow: 2px 2px 2px #cdcdcd;
    text-align: center;
}

#rodar tabla{
    margin-top: 30px;
}

img[src="../images/logo.png"]{
    float: right;
    margin-right: 70px;
}

.tabla th{
    text-align: center;
}

.tabla td{
    border-bottom: 1px solid #cdcdcd;
    padding: 15px;
}

img[src="../images/vi%C3%B1eta.png"]{
    float: left;
}

/*-------------------------cabecera---------------------------*/

header{
    background-color: #f1f2f3;
    padding-top: 5px;
    padding-bottom:5px;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;

}

header h1{
    float: left;
    margin: auto auto auto 100px;
    font-size: 50px;
    font-family: cursive;

}

#menu * {

    list-style:none;
}

#menu{
    margin-left: 1080px;
}


#menu li{

    line-height:42px;

}

#menu li a{
    color:#222;
    text-decoration:none;
}

#menu li a:before{
 color:#000;
 margin-right:49px;
}
#menu .li{
    line-height:15px;
}
img[src="../images/usuario.png"]{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#menu input[name="list"] {
	position: absolute;
	left: -1000em;
}

#menu label:before{
    margin-right:40px;
}

#menu .interior{
    background-color: #cdcdcd;
    display: none;
    border: 1px solid #cdcd;
}
#menu input:checked ~ ul{
    display:block;
    margin-right: 60px;
}


/*---------------------Navegador lateral-----------------------------*/


.sidebar {
    border: 1px solid #cdcdcd;
    position: fixed;
    height: 90%;
    margin-top: 85px;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}
.sidebar p {
    text-align: center;
}
.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 16px;
    color: #000;
    text-decoration: none;

}

.sidebar a:hover{
    color:#fff;
    background-color: #cdcdcd;

}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:10px;
}

#cerrar {
    display:none;
}
/*---------------------login----------------------------*/

#bod{
    background: #76D7C4;
}
#cabecera{

    padding: 10px ;
    font-size: 30px;
    text-align: center;
}

.campos{
    padding: 15% 1%;
    /*background: #cdcdcd;*/
    float: left;
    margin-left: 10%;

    /*border: 1px solid #999999;*/
}
.campos img{
    height: auto;
    max-width: 100%;
}
.campos ul li{
    list-style: none;
    padding: 20px;
}

.campos input[type="submit"]{

    font-size: 13px;
    padding: 8px 30px;
    border:none;
    outline: none;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px #000;
    color: #000;
    cursor: pointer;
    margin: 10px auto;
    margin-left: 120px;
    background: #999999;


}
.campos li input{
    border-radius: 10px;
    width: 350px;
    height: 40px;
}

.pie{
    margin-top: 450px;
    text-align: center;
}


.pie p{
    font-size: 16px;
    color:#000;
    margin:0px;
}

img[src="../images/mesa.png"]{
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    width: 500px;
}

/*---------------------Modificar----------------------------*/


#rodar form#modificar{

    padding: 15px 40px;
    border: 1px solid #cdcdcd;
}


form#modificar ul li{
    height: 55px;
    list-style: none;
}

form#modificar label{
    width: 100px;
    display: block;
    float: left;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
}

form#modificar input{
    background: url(../IMAGENES/bg_input.png)repeat-x 0 0;
    border-top: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    width: 280px;
    height: 30px;
    margin-left: 300px;
    color: #6b6b6b;
    padding: 2px 2px 2px 2px;

}

form#modificar input:focus{
    border: 1px solid #acbd5a;
    color: #333;
}

#submit,#reset{

    width: 20%;
    margin: 10px;
    margin-left: 170px;

}

/*---------------------Inicio administrador----------------------------*/

#rodar .not{
    font-size: 20px;
    text-align: center;
}

/*---------------------asignar tecnico----------------------------*/
#rodar2{

    transition: all .4s;
    margin-right: 80px;
    margin-left: 150px;
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #cdcd;
    width: 1000px;
    height: 400px;
    overflow:auto;
    background: #f1f2f3;

}
#rodar2 #asignar{
    position: fixed;
    top: 520px;
    left: 800px;
    width: 900px;
}
#rodar2 #submit{
    padding: 10px;

    font-size: 13px;

    border:none;
    outline: none;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px #000;
    color: #000;
    cursor: pointer;
    margin: 10px auto;
    margin-left: 150px;
    background: #999999;

}
.tec input{
    padding: 10px;
}
.tec li{
    padding: 10px;
    list-style: none;
    line-height: 30px;
}
